{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Wallet {% endblock %}
{% block content %}
      <div class="container"><br>
        <div class="row">
            <div class="col-md-2">
        
            </div>
            <div class="col-md-8">
              <div class="text-center">
                <form class="shadow p-3" method="POST" action="#" autocomplete="off" >
                    <h3>LOAN APPLICATION</h3>
                  {% csrf_token %}
                  <div class="form-floating mb-3">
                    <input type="text" name="first_guarantor" class="form-control rounded-pill" id="first_guarantor" pattern="[0-9]{6}" inputmode="numeric" maxlength="6" placeholder="first_guarantor" required>
                    <label for="first_guarantor"><i>User ID</i></label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" name="rate" class="form-control rounded-pill" id="rate" placeholder="Interest Rate" min="0" max="10" required>
                    <label for="rate">Interest Rate</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" name="amount" class="form-control rounded-pill" placeholder="Amount" required>
                    <label for="amount">Loan Amount</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" name="term" class="form-control rounded-pill" placeholder="Term" min="7" max="90" required>
                    <label for="term">Loan Term <i>(in days 7 - 90 days)</i> </label>
                  </div>
                  
                  <hr>    
                  <p>To ensure your security, kindly provide your wallet PIN</p>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill" name="wallet_pin" pattern="[0-9]{4}" inputmode="numeric" maxlength="4" placeholder='Enter your wallet PIN' required>
                    <label for="walletPin">Wallet PIN</label><br>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="submit" class="btn btn-dark col-sm-4 rounded-pill">Request Loan</button>
                  </div>
                </form>               
              </div>
            </div>
            <div class="col-md-2">
        
            </div>
          </div><br><br>          
      </div><br><br><br>
      {% endblock content %}
