{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Home {% endblock %}
{% block content %}
      <div class="container">
        <div class="row row-cols-2 text-center home">
            <div class="col mb-3 p-2">
              <div class="card shadow h-100">
                <div class="card-body">
                  <i class="fas fa-address-card fa-3x px-2" aria-hidden="true"> </i>
                  <a href="{% url 'profile' %}" class="stretched-link"><h5 class="card-title"><br>PROFILE</h5></a>
                </div>
              </div>
            </div>
            <div class="col mb-3 p-2">
                <div class="card shadow h-100">
                  <div class="card-body">
                    <i class="fas fa-money-bill fa-3x px-2" aria-hidden="true"></i>
                    <a href="{% url 'wallet' %}" class="stretched-link"><h5 class="card-title"><br>WALLET</h5></a>
                  </div>
                </div>
              </div>
              <div class="col mb-3 p-2">
                <div class="card shadow h-100">
                  <div class="card-body">
                    <i class="fas fa-hand-holding-usd fa-3x px-2" aria-hidden="true"></i>
                    <a href="{% url 'loans' %}" class="stretched-link"><h5 class="card-title">LOANS</h5></a>
                  </div>
                </div>
              </div>
              <div class="col mb-3 p-2">
                <div class="card shadow h-100">
                  <div class="card-body">
                    <i class="fas fa-chart-bar fa-3x px-2" aria-hidden="true"></i>
                    <a href="{% url 'history' %}" class="stretched-link"><h5 class="card-title">HISTORY</h5></a>
                  </div>
                </div>
              </div>
              <div class="col mb-3 p-2">
                <div class="card shadow h-100">
                  <div class="card-body">
                    <i class="fas fa-book-open fa-3x px-2" aria-hidden="true"></i>
                    <a href="{% url 'history' %}" class="stretched-link"><h5 class="card-title">COURSES</h5></a>
                  </div>
                </div>
              </div>
        </div>
        
          
      </div>
      {% endblock content %}
