{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Wallet {% endblock %}
{% block content %}
      <div class="container"><br>
        <div class="card">
            <div class="card-header">
               <strong> R-YSH67382 </strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">Loanee: Timothy Madegwa</h5>
              <p class="card-text">
                  Amount Requested : KES 5,000<br>
                  Interest Rate : 5% <br>
                  Amount + Interest : KES 5,250 <br>
                  Loan Term : 30 days<br>
              </p><hr>
              <div class="text-center">
                <a href="#" class="btn btn-dark rounded-pill col-6 px-2">View Request</a><br>
                
              </div>
            </div>
          </div><br><br>
          
          
      </div><br><br><br>
      {% endblock content %}
