{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Loans {% endblock %}
{% block content %}
      <div class="container">
        <div class="text-center">
            <div class="card alert-success text-dark m-2 shadow px-2">
                <div class="card-header">
                    Wallet Balance
                </div>
                <div class="card-body">
                    <h4 class="display-5"> KES: <span id="ewallet">5,267.00</span></h4>
                </div>
            </div><br>
            <div class="card alert-success text-dark m-2 shadow px-2">
                <div class="card-header">
                    Loans Due
                </div>
                <div class="card-body">
                    <h4 class="display-5"> KES: <span id="ewallet">15,723.55</span></h4>
                </div>
            </div>
        </div><br><hr>
        <div class="text-center">
            <div class="row row-cols-2 text-center home">
                <div class="col mb-3 p-2">
                  <div class="card shadow h-100">
                    <div class="card-body">
                      <i class="fas fa-money-bill fa-3x px-2" aria-hidden="true"> </i>
                      <a href="{% url 'loans_due' %}" class="stretched-link"><h5 class="card-title"><br>Loan(s) Due</h5></a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 p-2">
                    <div class="card shadow h-100">
                      <div class="card-body">
                        <i class="fas fa-hand-holding-usd fa-3x px-2" aria-hidden="true"></i>
                        <a href="{% url 'apply' %}" class="stretched-link"><h5 class="card-title"><br>Request for a Loan</h5></a>
                      </div>
                    </div>
                </div>                  
            </div>
        </div>
        <div class="text-center">
            <h4>Quick Links</h4><hr>
            <div class="row text-center">
                <div class="col-md-6">
                  <a href="#" class="btn btn-dark col-8 rounded-pill mb-3">View Loan Requests</a>
                </div>
                <div class="col-md-6">
                  <a href="{% url 'wallet' %}" class="btn btn-dark col-8 rounded-pill mb-3">E-Wallet</a>
                </div>
              </div>
        </div>
          
      </div><br><br><br>      
      {% endblock content %}
