{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Register {% endblock %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            
          </div>
          <div class="col-md-6">
            
            <form class="col-md-12 float-center shadow-lg" action="#" method="post" autocomplete="off">
                <div class="text-center">
                  <br><br><img class="img-fluid" src="{% static 'images/logo.png'%}" alt="FRB" width="250" height="250"/>
                </div><hr>
                <div class="form-floating mb-3 mx-3">
                    <input type="text" class="form-control rounded-pill" id="firstName" name="first_name" maxlength="20" placeholder="First Name" value="{{values.first_name}}" required>
                    <label for="firstName"><i class="fas fa-user px-2" aria-hidden="true"> </i>Full Name</label>
                </div>
                <div class="form-floating mb-3 mx-3">
                    <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Email" value="{{values.email}}" required>
                    <label for="email"><i class="fas fa-envelope px-2"></i> E-Mail</label>
                </div>
                <div class="mx-3 text-danger" id="email_invalid_feedback" style="display: none;"></div>
                <div class="form-floating mb-3 mx-3">
                    <input type="tel" class="form-control rounded-pill" id="phone" name="phone" pattern="[0-9]{12}" placeholder="Phone Number" value="{{values.phone}}" required>
                    <label for="phone"><i class="fas fa-phone px-2"></i> Phone Number (<small>Format: 254712XXXXXX</small>)</label>
                </div>
                <div class="mx-3 text-danger" id="phone_invalid_feedback" style="display: none;"></div>
                <div class="form-floating mb-3 mx-3">
                    <input type="text" class="form-control rounded-pill" id="id_number" name="id_number" placeholder="ID Number" value="{{values.id_number}}" required>
                    <label for="id_number"><i class="far fa-id-card px-2"></i> ID/Passport Number</label>
                </div>
                <div class="mx-3 text-danger" id="id_invalid_feedback" style="display: none;"></div>
                <div class="mb-3 mx-3">
                    <label for="id_pic" class="form-label">Upload ID/Passport</label>
                    <input class="form-control rounded-pill" type="file" id="id_pic" name="id_pic" accept="image/*" required>
                </div>
                <div class="form-floating mb-3 mx-3">
                    <input type="password" class="form-control rounded-pill" id="password" name="password" minlength="8" placeholder="Password" required>
                    <label for="password"><i class="fas fa-key px-2"></i> Password <em style="color: brown;">(Atleast 8 characters long)</em></label>
                </div>
                <div class="mx-3 text-danger" id="password_invalid_feedback" style="display: none;"></div>
                <div class="form-check mb-3 mx-3">
                    <input class="form-check-input" type="checkbox" id="show_password" onclick="showPassword()">
                    <label class="form-check-label" for="show_password">Show Password</label>
                </div>
                <div class="form-floating mb-3 mx-3">
                    <input type="password" class="form-control rounded-pill" id="confirm_password" name="confirm_password" placeholder="Password Again" required>
                    <label for="confirm_password"><i class="fas fa-key px-2"></i> Confirm Password</label>
                </div>
                <div class="mx-3 text-danger" id="confirm_password_invalid_feedback" style="display: none;"></div>
                <div class="form-check mb-3 mx-3">
                    <input class="form-check-input" type="checkbox" name="tac" id="check-box" required>
                    <label class="form-check-label" for="check-box">I have read, understood and agreed to the terms and conditions of the Friends Reference Bureau</label>
                    <p class="text-center"><a target="_blank" href="#">Terms and Conditions</a></p>
                </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-dark rounded-pill col-4 " id="submit-btn">Register</button>
                </div><hr>
                    <p class="text-center">
                      ALREADY REGISTERED?<br> <a href="{% url 'login' %}" role="button" class="btn btn-dark rounded-pill col-4">Login</a>
                    </p><br>
                
                  </div><br>
            </form>
          </div>
          <div class="col-md-3">
            
          </div>
        </div><br><br><br>
      </div><br>

      <script>
        function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
      {% endblock content %}